body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #f5f7fa;
  margin: 20px;
}

.title {
  text-align: center;
  font-weight: 950;
  color: #212121;
  margin-bottom: 20px;
}

.doc-container {
  max-width: 800px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.section-separator {
  border-bottom: 2px solid #f1f1f1;
}

.collapsible {
  width: 100%;
  background-color: #1E90FF;
  color: #ffffff;
  cursor: pointer;
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
}

.collapsible:hover {
  background-color: #334155;
}

.collapsible::after {
  content: '\25B6';
  font-size: 16px;
  margin-left: auto;
  transition: transform 0.2s;
}

.collapsible.active::after {
  transform: rotate(90deg);
}

.content {
  display: none;
  padding: 20px;
  border-top: 1px solid #e2e8f0;
  background: #f9fafb;
}

.content ul {
  margin: 0;
  padding-left: 20px;
}

.content ul li {
  margin-bottom: 5px;
}

footer {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #666;
}

.credits {
  background-color: #f1f1f1;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

.credits p {
  margin: 5px 0;
}

a.button{
  display: inline-block;
  padding: 10px;
  margin: 5px;
  background-color: #1e90ff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-family: 'Cabin', sans-serif;
}

/* Scrollable long text */
.collapsible-content {
  max-height: 50px;
  overflow: scroll;
  transition: max-height 0.4s ease-out;
}

/* Expanded content */
.collapsible-content.expanded {
  max-height: 50px; /* Adjust based on your preference */
}

/* Smooth scrolling inside collapsible content */
.collapsible-content::-webkit-scrollbar {
  width: 8px;
}

.collapsible-content::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.collapsible-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}
